@use 'variables';
@use 'form';
@use 'results';
@use 'footer';
@import "~js-datepicker/src/datepicker";
@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald-VariableFont_wght.ttf") format("truetype");
}
body {
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    display: grid;
    grid-template-columns: 500px;
    grid-template-areas:
        "hr"
        "bod";
    grid-gap: 20px;
    background: variables.$background-color;
    color: variables.$primary-color;
    justify-content: center;
    font-size: 1em;
    font-family: variables.$font;
    overflow: auto;
    min-height: 100vh;
    height: 100%;
    padding: 20px;
}

title {
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    grid-area: hr;
    text-align: center;
    padding-top: 40px;
}

content {
    grid-area: bod;
    padding: 20px 40px;
    display: grid;
    grid-template-areas:
        "form form"
        "results results";

    .form {
        grid-area: form;
    }
    .results {
        grid-area: results;
    }
}

@media (min-width: 1100px) {
    #app {
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }
    content {
        grid-template-areas:
            "form results"
            "form results";
    }

    .form {
        padding: 70px 40px;
    }
    .results {
        margin: 80px 40px;
    }
}
